body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.panel {
  padding: 2rem
}

.left-panel {
  flex: 1
}

.nav-bar-box {
  background: #222;
  color: white;
  padding: .5rem 1rem;
  text-decoration: none;
  display: flex;
  text-align: center;
  /* border: 2px #ccc solid; */
}

.nav-bar-box > li{
  flex: 1;
  align-items: center;
}

.menu-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
}

ul {
  list-style: none;
}


.flex-container{
  display: flex;
  /* justify-content: center; */
  height: 900px;
  /* width: 100%; */
  align-items: center;
  flex-direction: row;

}

.button {
  /* background-color: #4CAF50; /* Green */
  border: none;
  /* color: white;  */
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 16px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.top-bar {
  text-align: center;
}

/* .flex-container div{
  border: 1px #ccc solid;
  padding: 10px;
} */

.map-box {
  flex: 1;
  order: 2;
  height: 900px;
}

.display-box {
  flex: 1;
  order: 1;
  height: 900px;

}


.main-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
